
body {
  background-color: #EF9797;
}
.botomg {
  color: #ef9797;
}
.botodis {
  color: #565353;
}
.botomg:hover {
  cursor: pointer;
}
.botodis:hover {
  cursor: pointer;
}
.botoin {
  color: #77a5d8;
  font-size: 2em !important;
}
.botoin:hover {
  cursor: pointer;
}
.image-window img{
  object-fit: cover;
  height: 550px;
  max-height: 400px;
  width: 350px;
  position: relative;
  border-radius: 5px;
}
.fotoperfil {
  text-align: center;
  background-color: white;
  min-width: 250px;  
}

.social {
 margin: 0 auto;
 display: table;
 text-align: center !important;
}

.social li {
  float: left;
  list-style:none;

}
.social li span {
  display: block;
  font-size: 4em;
  padding: 8px;

}
.centrar  {
  border-radius: 5px;
  background-color: white;
  position: absolute;
  /*nos posicionamos en el centro del navegador*/
  top:45%;
  left:50%;
  /*determinamos una anchura*/
  width:400px;
  /*indicamos que el margen izquierdo, es la mitad de la anchura*/
  margin-left:-200px;
  /*determinamos una altura*/
  height:520px;
  /*indicamos que el margen superior, es la mitad de la altura*/
  margin-top:-260px;
  padding:1.8em;
}

.image-window img {
  opacity: 1;
}
.image-window:hover img {
  opacity: .5;
}