@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
.texto-centrado{
    text-align: center;
}
.header{
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 50px;
    font-weight: 200;

}

.header span{
    color: #5379fa !important;
}
@keyframes latidos {
    from { 
        transform: none; 
    }
    20% {
      transform: scale(1.1);   
    }
    36% {
      transform: scale(1.1);   
    }
    50% {
        transform: scale(1.1); 
    }
    to { transform: none; 
    
    }
}
/* En la clase corazon vamos a llamar latidos en la animación  */
.corazon {
    display: inline-block;
    font-size: 50px;
    color: #7980E1;
    animation: latidos .9s infinite;
  
}



.register input[type=text]{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    text-align: center;
}

.register select{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    text-align: center;
}
.register input[type=email]{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0px !important;
    padding: 0px !important;
}

.register input[type=password]{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
   
    text-align: center;
    padding: 0px !important;
}

.register input[type=submit]{
    width: 250px;
    height: 40px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px;
   
    padding: 0px !important;
}

.register input[type=submit]:hover{
    opacity: 0.5;
}

.register input[type=submit]:active{
    opacity: 0.5;
}

.register input[type=email]:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.9);
}
.register input[type=text]:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.9);
}

.register input[type=password]:focus{
    border: 1px solid rgba(255,255,255,0.9);
}

.register input[type=submit]:focus{
    outline: none;
}

.centrar  {
  border-radius: 5px;
  background-color: white;
  position: absolute;
  /*nos posicionamos en el centro del navegador*/
  top:45%;
  left:50%;
  /*determinamos una anchura*/
  width:400px;
  /*indicamos que el margen izquierdo, es la mitad de la anchura*/
  margin-left:-200px;
  /*determinamos una altura*/
  height:520px;
  /*indicamos que el margen superior, es la mitad de la altura*/
  margin-top:-260px;
  padding:1.8em;
}

.margin {
    margin-top:12px;
}

.color-white{
    color: white;
}
.texto-derecha{
    text-align: right;
}


.cancelar{
    width: 250px !important;
    height: 40px !important;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    border-radius: 3px;
    text-decoration: none !important;

}

.cancelar button:hover{
    opacity: 0.8 !important;
    color: #333;
    border-color: #888;
    outline: 0;
}

.cancelar button:active{
    opacity: 0.6;
}
.cancelar button:focus{
    outline: none;
}


.register input[type=button]{
    width: 250px;
    height: 40px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px;
   
    padding: 0px !important;
}

.register input[type=button]:hover{
    opacity: 0.5;
}

.register input[type=button]:active{
    opacity: 0.5;
}
.register input[type=button]:focus{
    outline: none;
}

.colorLetra{
    color:#737171;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}