.botonsfoto {
  text-align: center;
}

.botomg {
    color: #ef9797;
    font-size: 85px;
    text-align: center;
  }
  .botodis {
    color: #565353;
    font-size: 85px;
    text-align: center;
  }
  .nompersona {
    background-color: black;
color: white;
opacity: 0.7;
position: absolute;
z-index: 10;
left: 15%;
width: 70%;
height: 6%;
font-size: 20px;
  }
  .botomg:hover {
    cursor: pointer;
  }
  .botodis:hover {
    cursor: pointer;
  }

  .botoin {
    color: #77a5d8;
    font-size: 40px;
    float: center;    
  }

  .botoin:hover {
    cursor: pointer;
  }
  .image-window img{
    z-index: 9;
    object-fit: cover;
    height: 500px;
    width: 100%;
    position: relative;
  }

  .fotoperfil {
    text-align: center;
    margin-top: 4%;
    background-color: white;
    padding: 2%;   
  }

  .image-window {
    height: 500px;
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    transition: height 0.3s ease-in-out;
  }  

  .row {
    margin: 0px !important;
  }

  body {
    background-color: #ef9797;
  }

  .botons {
    background-color: white;
  }

  #imatge2 {
    display: none;
  }

  #imatge1 {
    display: none;
  }